body {
  background-color: #F0F8FF;
}

h1, h2 {
  color: #66BFBF;
}

h1, h2 a {
  color: #66BFBF;
}

hr {
  border-style: dotted none none;
  border-width: 3px;
  border-color: gray;
}
